.input { 
    border: none; 
    outline: none; 
    border-radius: 15px; 
    padding: 1em; 
    background-color: #ccc; 
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3); 
    transition: 300ms ease-in-out; 
  } 
   
  .input:focus { 
    background-color: white; 
    transform: scale(1.05); 
    box-shadow: 13px 13px 100px #969696, -13px -13px 100px #ffffff; 
  } 
   
  button { 
    width: 40%; 
    height: 3em; 
    border-radius: 30em; 
    font-size: 15px; 
    color: black; 
    font-family: inherit; 
    border: none; 
    position: relative; 
    overflow: hidden; 
    z-index: 1; 
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff; 
  } 
   
  button::before { 
    content: ""; 
    width: 0; 
    height: 3em; 
    border-radius: 30em; 
    position: absolute; 
    top: 0; 
    left: 0; 
    /* background-image: linear-gradient(to right, #f89b29 0%, #ff0f7b 100%);  */
    transition: 0.5s ease; 
    display: block; 
    z-index: -1; 
  } 
   
  .loginStyle { 
    margin-top: 2rem; 
    margin-bottom: 2rem; 
    align-items: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
  } 
   
  #form-div input { 
    margin-bottom: 0.8rem; 
  } 
   
  /* Media query per dispositivi mobile (schermo inferiore a 768px) */ 
  @media screen and (max-width: 768px) { 
    /* Regole CSS per dispositivi mobili */ 
    #label { 
      width: 100%; 
      margin: 0 !important; 
    
    } 
   
    #form-div { 
      width: 70%; 
      height: 80%; 
      padding: 1rem; 
    } 
   
    input { 
      width: 70%; 
    } 
   
    button { 
      width: 40%; 
      margin: 0 30%; 
    } 
   
    button:hover::before { 
      width: 80%; 
    } 
   
    .loginStyle { 
      margin-top: 2rem; 
      align-items: center; 
      display: flex; 
      flex-direction: column; 
      justify-content: center; 
    } 
  } 
   
  /* Media query per tablet (schermo tra 768px e 1024px) */ 
  @media screen and (min-width: 769px) and (max-width: 1024px) { 
    /* Regole CSS per tablet */ 
   
    #form-div { 
      width: 70%; 
      height: 80%; 
      padding: 1rem; 
    } 
   
    input { 
      width: 50%; 
      margin: 0 25%; 
    } 
    #label { 
      width: 100%; 
      margin: 0 25%; 
    } 
   
    button { 
      width: 40%; 
      margin: 0 30%; 
    } 
   
    button:hover::before { 
      width: 40%; 
    } 
   
    .loginStyle { 
      margin-top: 2rem; 
      align-items: center; 
      display: flex; 
      flex-direction: column; 
      justify-content: center; 
    } 
  } 
   
  /* Media query per desktop (schermo superiore a 1024px) */ 
  @media screen and (min-width: 1025px) { 
    /* Regole CSS per desktop */ 
    #label { 
      width: 100%; 
      margin: 0 25%; 
    } 
   
    #form-div { 
      width: 70%; 
      height: 80%; 
      padding: 1rem; 
    } 
   
    input { 
      width: 50%; 
      margin: 0 25%; 
    } 
   
    button { 
      width: 20%; 
      margin: 0 40%; 
    } 
   
    button:hover::before { 
      width: 100%; 
    } 
   
    .loginStyle { 
      margin-top: 2rem; 
      align-items: center; 
      display: flex; 
      flex-direction: column; 
      justify-content: center; 
    } 
  } 
   
  /* @media (max-width:) */